---
import Layout from "../layouts/Layout.astro";
import CTAButton from "../components/CTAButton.astro";
---

<Layout>
  <section
    class="pt-20 pt:h-24 pb-32 md:pb-32 lg:pb-32 relative bg-blueberry text-center"
  >
    <div class="w-full">
      <div
        class="text-molar w-[calc((6/7)*100%)] md:w-[calc((5/7)*100%)] max-w-[1024px] mx-auto space-y-4 md:space-y-8"
      >
        <h1 class="drop-shadow-sm heading-1">About Us</h1>
      </div>
    </div>
  </section>
  <section
    class="pt-24 pb-12 w-[calc((6/7)*100%)] md:w-[calc((5/7)*100%)] mx-auto flex justify-center"
  >
    <div class="flex flex-col lg:flex-row gap-8 md:gap-16 text-nightsky">
      <div class="flex justify-center lg:justify-end items-center">
        <img src="/family.png" class="rounded-lg min-w-[300px]" />
      </div>
      <div id="our_story_right" class="lg:max-w-[800px]">
        <h2 class="heading-2 pb-4">Our Story</h2>
        <div class="space-y-3">
          <p class="body">
            Hello! We are Dr. George and Dr. Chloe, a husband and wife pediatric
            dentist duo who are passionate about taking care of our community.
          </p>
          <p class="body">
            We first met as dental students at the Harvard School of Dental
            Medicine while coordinating the school's annual Give Kids a Smile
            event. What started as a friendship grew into a relationship that
            was built on our shared passion for life-long learning, oral health
            education, community engagement, and caring for children and
            families. We grew up on opposite coasts, met in Boston, fell in
            love, and now call Central Ohio our home.
          </p>
          <p class="body">
            When not taking care of our patients, we are exploring restaurants
            and cafes around town, chasing our toddler around the kitchen
            island, and taking long walks in our neighborhood with our two dogs.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section
    class="pt-12 pb-12 w-[calc((6/7)*100%)] md:w-[calc((5/7)*100%)] mx-auto flex justify-center"
  >
    <div
      id="our_story"
      class="flex flex-col lg:flex-row gap-8 md:gap-16 text-nightsky"
    >
      <div id="our_story_right" class="min-w-[35ch] lg:max-w-[800px]">
        <h2 class="heading-2 pb-6">Our Mission</h2>
        <div class="space-y-3">
          <p class="body">
            At Molar and Friends Pediatric Dentistry, we are passionate about
            taking care of our kids and their teeth! We specialize in treating
            kids of all backgrounds and unique circumstances. Whether your child
            has dental anxiety, extra questions about how to keep their teeth
            strong, special health care needs, or just looking for a happy visit
            to the dentist, we will take the time to ensure that all their needs
            are met. We want your child's dental visit to be an experience that
            they can look forward to. It is our mission to make your child's
            visit safe, fun, and educational!
          </p>
        </div>
      </div>
      <div
        class="flex justify-center lg:justify-start items-center h-full max-h-full max-w-[36rem]"
      >
        <img
          src="/M+F_Canvases_Space_PR-1.png"
          class="rounded-lg h-full max-h-full object-cover"
        />
      </div>
    </div>
  </section>

  <section
    class="pt-12 pb-12 w-[calc((6/7)*100%)] md:w-[calc((5/7)*100%)] mx-auto flex justify-center"
  >
    <div
      id="our_story"
      class="flex flex-col lg:flex-row gap-8 md:gap-16 text-nightsky"
    >
      <div
        class="flex justify-center lg:justify-end items-center h-full max-h-full w-full max-w-[24rem]"
      >
        <img
          src="/M+F_Canvases_No-Cavities_PR-1.png"
          class="rounded-lg h-full max-h-full object-cover"
        />
      </div>
      <div class="space-y-3 min-w-[35ch] lg:max-w-[800px]">
        <h2 class="heading-2 pb-6">Our Office</h2>
        <p class="body">
          We've designed our office to be a fun, comfortable, and safe place for
          your child to call their dental home. Our art was conceptualized by
          Dr. George and Dr. Chloe and illustrated by the talented team of
          Imaginary Beast. Dr. George grew up on comics like Calvin and Hobbes
          and believes that connecting fun imagery to oral health makes
          dentistry exciting for children. Dr. Chloe is an amateur artist and is
          a strong believer in using art for play and education.
        </p>
      </div>
    </div>
  </section>
  <CTAButton />
</Layout>

<script>
  import { animate, inView, press } from "motion";
  let george_card_state = "closed";
  let chloe_card_state = "closed";

  inView("#fairy_poster", (e) => {
    animate(
      "#fairy_poster",
      {
        rotate: -2,
        opacity: [0, 1],
        scale: [0.8, 1],
        y: ["-40%"],
        left: ["100%", "52%"],
      },
      { duration: 0.75 }
    );
    animate(
      "#lost_poster",
      {
        rotate: 5,
        opacity: [0, 1],
        scale: [0.8, 1],
        y: ["-50%"],
        right: ["100%", "52%"],
      },
      { duration: 0.75 }
    );
  });

  inView("#george", (e) => {
    animate(
      "#card_george_left",
      { opacity: [1], scale: [1], rotate: [-1], x: ["-100%", "0"] },
      { duration: 0.75 }
    );
    animate(
      "#card2_george_right",
      { opacity: [1], scale: [1], rotate: [-2], x: ["-100%", "0"] },
      { duration: 0.75 }
    );
    animate(
      "#card1_george_right",
      { opacity: [1], scale: [0.98], rotate: [3], x: ["100%", "0"] },
      { duration: 0.75 }
    );
  });

  inView("#chloe", (e) => {
    animate(
      "#card_chloe_right",
      { opacity: [1], scale: [1], rotate: [1], x: ["100%", "0"] },
      { duration: 0.75 }
    );
    animate(
      "#card2_chloe_left",
      { opacity: [1], scale: [1], rotate: [2], x: ["100%", "0"] },
      { duration: 0.75 }
    );
    animate(
      "#card1_chloe_left",
      { opacity: [1], scale: [0.98], rotate: [-3], x: ["-100%", "0"] },
      { duration: 0.75 }
    );
  });

  press("#card_george_stack", (e) => {
    if (george_card_state === "closed") {
      animate(
        "#card2_george_right",
        { scale: [1], x: [0, "120%"] },
        { duration: 0.75 }
      );
      animate("#card1_george_right", { scale: [0.98, 1] }, { duration: 0.75 });
      george_card_state = "open";
    } else {
      animate(
        "#card2_george_right",
        { scale: [1], x: ["120%", 0] },
        { duration: 0.75 }
      );
      animate("#card1_george_right", { scale: [1, 0.98] }, { duration: 0.75 });
      george_card_state = "closed";
    }
  });

  press("#card_chloe_stack", (e) => {
    if (chloe_card_state === "closed") {
      animate(
        "#card2_chloe_left",
        { scale: [1], x: [0, "-120%"] },
        { duration: 0.75 }
      );
      animate("#card1_chloe_left", { scale: [0.98, 1] }, { duration: 0.75 });
      chloe_card_state = "open";
    } else {
      animate(
        "#card2_chloe_left",
        { scale: [1], x: ["-120%", 0] },
        { duration: 0.75 }
      );
      animate("#card1_chloe_left", { scale: [1, 0.98] }, { duration: 0.75 });
      chloe_card_state = "closed";
    }
  });
</script>

<style>
  .body {
    max-width: 55ch;
  }
</style>
