---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="pt-20 pt:h-24 pb-32 md:pb-32 lg:pb-32 relative bg-blueberry text-center">
    <div class="w-full">
      <div
        class="text-molar w-[calc((6/7)*100%)] md:w-[calc((5/7)*100%)] max-w-[1024px] mx-auto space-y-4 md:space-y-8"
      >
        <h1 class="drop-shadow-sm heading-1">About Us</h1>
      </div>
    </div>
  </section>
  <section class="pt-24 pb-24 lg:pb-32">
    <div
      id="our_story"
      class="flex flex-col lg:flex-row gap-8 md:gap-16 text-nightsky w-[calc((6/7)*100%)] md:w-[calc((5/7)*100%)] mx-auto"
    >
      <div
        id="our_story_left"
        class="flex justify-center lg:justify-end items-center"
      >
        <img src="/family.png" class="rounded-lg min-w-[300px]"/>
      </div>
      <div id="our_story_right" class="lg:max-w-[800px]">
        <h2 class="heading-2 pb-4">Our Story</h2>
        <div class="space-y-3">
          <p class="body">
            Hello! We are Dr. George and Dr. Chloe, a husband and wife pediatric
            dentist duo who are passionate about taking care of our community.
          </p>
          <p class="body">
            We first met as dental students at the Harvard School of Dental
            Medicine while coordinating the school's annual Give Kids a Smile
            event. What started as a friendship grew into a relationship that
            was built on our shared passion for life-long learning, oral
            health education, community engagement, and caring for children
            and families. We grew up on opposite coasts, met in Boston, fell
            in love, and now call Central Ohio our home.
          </p>
          <p class="body">
            When not taking care of our patients, we are exploring restaurants 
            and cafes around town, chasing our toddler around the kitchen island,
            and taking long walks in our neighborhood with our two dogs. 
          </p>
        </div>
      </div>
    </div>
  </section>
 <section class="pt-12 pb-12">
    <div
      id="our_story"
      class="gap-8 md:gap-16 text-nightsky w-[calc((6/7)*100%)] md:w-[calc((5/7)*100%)] mx-auto"
    >
      <h2 class="heading-2 pb-6">Our Mission</h2>
      <div class="space-y-3">
        <p class="body">
          At Molar and Friends Pediatric Dentistry, we are passionate about taking care of our kids and their teeth!  We specialize in treating kids of all backgrounds and unique circumstances. Whether your child has dental anxiety, extra questions about how to keep their teeth strong, special health care needs, or just looking for a happy visit to the dentist, we will take the time to ensure that all their needs are met. We want your child's dental visit to be an experience that they can look forward to. It is our mission to make your child's visit safe, fun, and educational!
        </p>
      </div>
    </div>
  </section>
 <section class="pt-12 pb-12">
    <div
      id="our_story"
      class="gap-8 md:gap-16 text-nightsky w-[calc((6/7)*100%)] md:w-[calc((5/7)*100%)] mx-auto"
    >
      <h2 class="heading-2 pb-6">Our Practice Name</h2>
      <div class="space-y-3">
        <p class="body">
          The name "Molar and Friends" was born from our philosophy that when we treat our teeth as friends, we are more motivated to take care of them. When our teeth are cared for, they will take care of us back! As silly as this may sound, we find the philosophy memorable and helpful in maintaining a healthy mouth. Our practice is strongly rooted in prevention and education. We enjoy taking the time to teach our patients and families about the best ways to prevent cavities and gum disease.
        </p>
      </div>
    </div>
  </section>
 <section class="pt-12 pb-12">
    <div
      id="our_story"
      class="gap-8 md:gap-16 text-nightsky w-[calc((6/7)*100%)] md:w-[calc((5/7)*100%)] mx-auto"
    >
      <h2 class="heading-2 pb-6">Our Office</h2>
      <div class="space-y-3">
        <p class="body">
          We've designed our office to be a fun, comfortable, and safe place for your child to call their dental home. Our art was conceptualized by Dr. George and Dr. Chloe and illustrated by the talented team of Imaginary Beast.  Dr. George grew up on comics such as Calvin and Hobbes and Garfield, and he believes that connecting fun imagery and graphics to oral health makes dentistry exciting and inviting for children. Dr. Chloe is an amateur artist and is a strong believer in using art for play and education.
        </p>
      </div>
    </div>
  </section>
  <button
    onClick="initFlexBook('https://flexbook.me/molarfrnds')"
    class="mt-24 mb-36 justify-self-end self-center bg-teal text-[#FFFFFF] font-bold h-fit px-10 py-3 rounded-full hover:bg-nightsky transition-all duration-200">
  BOOK NOW
  </button>
</Layout>

<script>
  import { animate, inView, press } from "motion";
  let george_card_state = "closed";
  let chloe_card_state = "closed";

  inView("#fairy_poster", (e) => {
    animate(
      "#fairy_poster",
      {
        rotate: -2,
        opacity: [0, 1],
        scale: [0.8, 1],
        y: ["-40%"],
        left: ["100%", "52%"],
      },
      { duration: 0.75 }
    );
    animate(
      "#lost_poster",
      {
        rotate: 5,
        opacity: [0, 1],
        scale: [0.8, 1],
        y: ["-50%"],
        right: ["100%", "52%"],
      },
      { duration: 0.75 }
    );
  });

  inView("#our_story", (e) => {
    animate(
      "#our_story_left",
      { opacity: [0, 1], scale: [0.8, 1], x: ["-100%", "0"] },
      { duration: 0.75 }
    );
    animate(
      "#our_story_right",
      { opacity: [0, 1], scale: [0.8, 1], x: ["-100%", "0"] },
      { duration: 0.75 }
    );
  });

  inView("#george", (e) => {
    animate(
      "#card_george_left",
      { opacity: [1], scale: [1], rotate: [-1], x: ["-100%", "0"] },
      { duration: 0.75 }
    );
    animate(
      "#card2_george_right",
      { opacity: [1], scale: [1], rotate: [-2], x: ["-100%", "0"] },
      { duration: 0.75 }
    );
    animate(
      "#card1_george_right",
      { opacity: [1], scale: [0.98], rotate: [3], x: ["100%", "0"] },
      { duration: 0.75 }
    );
  });

  inView("#chloe", (e) => {
    animate(
      "#card_chloe_right",
      { opacity: [1], scale: [1], rotate: [1], x: ["100%", "0"] },
      { duration: 0.75 }
    );
    animate(
      "#card2_chloe_left",
      { opacity: [1], scale: [1], rotate: [2], x: ["100%", "0"] },
      { duration: 0.75 }
    );
    animate(
      "#card1_chloe_left",
      { opacity: [1], scale: [0.98], rotate: [-3], x: ["-100%", "0"] },
      { duration: 0.75 }
    );
  });

  press("#card_george_stack", (e) => {
    if (george_card_state === "closed") {
      animate(
        "#card2_george_right",
        { scale: [1], x: [0, "120%"] },
        { duration: 0.75 }
      );
      animate("#card1_george_right", { scale: [0.98, 1] }, { duration: 0.75 });
      george_card_state = "open";
    } else {
      animate(
        "#card2_george_right",
        { scale: [1], x: ["120%", 0] },
        { duration: 0.75 }
      );
      animate("#card1_george_right", { scale: [1, 0.98] }, { duration: 0.75 });
      george_card_state = "closed";
    }
  });

  press("#card_chloe_stack", (e) => {
    if (chloe_card_state === "closed") {
      animate(
        "#card2_chloe_left",
        { scale: [1], x: [0, "-120%"] },
        { duration: 0.75 }
      );
      animate("#card1_chloe_left", { scale: [0.98, 1] }, { duration: 0.75 });
      chloe_card_state = "open";
    } else {
      animate(
        "#card2_chloe_left",
        { scale: [1], x: ["-120%", 0] },
        { duration: 0.75 }
      );
      animate("#card1_chloe_left", { scale: [1, 0.98] }, { duration: 0.75 });
      chloe_card_state = "closed";
    }
  });
</script>

<style>
.body {
  max-width: 55ch;
}
</style>
