---
import Layout from "../layouts/Layout.astro";
---
<Layout>
  <section class="pt-20 pt:h-24 pb-[25%] relative bg-forest text-center">
    <div class="w-full">
      <div class="text-molar w-[calc((6/7)*100%)] md:w-[calc((5/7)*100%)] max-w-[1024px] mx-auto space-y-4 md:space-y-8">
        <h1 class="drop-shadow-sm heading-1 ">About</h1>
        <p class="drop-shadow-sm bg-black font-semibold mx-auto max-w-xs md:max-w-2xl">Join the thousands of families who've discovered why their children can't wait for their next dental visit. At Molar and Friends, we're creating the next generation of confident, healthy smiles. </p>
      </div>
    </div>
  </section>
  <section class="pb-[25%]">
    <img src="/forest_scene.svg" class="rounded-lg absolute left-[50%] translate-y-[-50%] w-[90%] translate-x-[-50%]"/>
  </section>
  <section class="">
    <div class="text-nightsky w-[calc((6/7)*100%)] md:w-[calc((5/7)*100%)] max-w-[1024px] mx-auto space-y-4 md:space-y-8">
      <h2 class="heading-2">Our story</h2>
      <p class="body">Hello! We are Dr. George and Dr. Chloe,  a husband and wife pediatric dentist duo who are passionate about taking care of our community. We first met as dental students at the Harvard School of Dental Medicine while coordinating the school's annual Give Kids a Smile event. What started as a friendship grew into a relationship that was built on our shared passion for life-long learning, oral health education, community engagement, and caring for children and families. We grew up on opposite coasts, met in Boston, fell in love, and now call Central Ohio our home. When not taking care of our patients, we are exploring new restaurants and cafes around town, chasing our toddler Harrison around the kitchen island, and taking long walks in our neighborhood with our two rescue pups, Poppy and Luna. </p>
    </div>
  </section>
</Layout>
