---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import LeftCard from "../components/LeftCard.astro";
import RightCard from "../components/RightCard.astro";
---

<Layout>
	<Hero />
	<section class="w-[calc((6/7)*100%)] md:w-[calc((5/7)*100%)] max-w-[1024px] mx-auto space-y-12 md:space-y-24 mt-10 md:mt-24">
		<LeftCard/>
		<RightCard/>
	</section>
	<section class="w-[calc((6/7)*100%)] pt-20 md:pt-0 md:w-[calc((5/7)*100%)] max-w-[1024px] mx-auto space-y-12 md:space-y-24 mt-10 md:mt-24">
    <a href="/test" class="mb-24 mx-auto w-fit block justify-self-end self-center bg-teal text-[#FFFFFF] font-bold h-fit px-10 py-3 rounded-full hover:bg-nightsky transition-all duration-200">
      JOIN WAITLIST
    </a>
	</section>
</Layout>
