---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="pt-20 pt:h-24 pb-32 md:pb-32 lg:pb-32 relative bg-forest text-center">
    <div class="w-full">
      <div
        class="text-molar w-[calc((6/7)*100%)] md:w-[calc((5/7)*100%)] max-w-[1024px] mx-auto space-y-4 md:space-y-8"
      >
        <h1 class="drop-shadow-sm heading-1">Meet Your Dentists</h1>
      </div>
    </div>
  </section>
  <section class="flex flex-col items-center overflow-x-clip bg-forest pt-32 pb-[34rem] md:pb-48">
    <div
      id="george"
      class="flex flex-col md:flex-row gap-8 select-none text-nightsky w-[calc((6/7)*100%)] md:w-[calc((5/7)*100%)] max-w-[1024px] mx-auto"
    >
      <div
        id="card_george_left"
        class="flex justify-center lg:justify-end items-center translate-x-[-100%]"
      >
        <img src="/george_headshot.png" class="w-full h-full object-cover rounded-lg" />
      </div>
      <div id="card_george_stack" class="cursor-pointer relative w-full">
        <div
          id="card1_george_right"
          class="drop-shadow-md bg-sunshine absolute w-full rounded-lg bg-molar px-10 py-6 translate-x-[100%]"
        >
          <h2 class="text-4xl font-semibold pb-4">Fun Facts</h2>
          <ul class="space-y-4">
            <li><span class="text-cedar">✪</span> I was born and raised in Seattle and California</li>
            <li>
              <span class="text-cedar">✪</span> My favorite childhood memory: Playing Nintendo 64 with my family</li>
            <li>
              <span class="text-cedar">✪</span>My first job in high school was teaching kids how to swim</li>
            <li>
              <span class="text-cedar">✪</span>You may find me playing my electric guitar or ukulele at the office</li>
            <li><span class="text-cedar">✪</span>I enjoy kids movies, animations, and comics</li>
          </ul>
        </div>
        <div
          id="card2_george_right"
          class="drop-shadow-md absolute w-full rounded-lg bg-molar px-10 py-6 translate-x-[-100%]"
        >
          <h2 class="text-2xl md:text-4xl font-semibold pb-4">Dr. George Chen</h2>
          <ul class="space-y-4">
            <li>
              <div class="flex flex-row gap-2 font-semibold">
                <img
                  src="/education_icon.png"
                  class="w-6 max-w-6 mix-blend-multiply object-contain pt-1 object-top"
                />
                University of California, San Diego
              </div>
              <p class="pl-8">B.S. Biochemistry and Cell Biology</p>
            </li>
            <li>
              <div class="flex flex-row gap-2 font-semibold">
                <img
                  src="/education_icon.png"
                  class="w-6 max-w-6 mix-blend-multiply object-contain pt-1 object-top"
                />
                Harvard School of Dental Medicine
              </div>
              <p class="pl-8">Doctor of Dental Medicine</p>
            </li>
            <li>
              <div class="flex flex-row gap-2 font-semibold">
                <img
                  src="/education_icon.png"
                  class="w-6 max-w-6 mix-blend-multiply object-contain pt-1 object-top"
                />
                Boston Children's Hospital, Harvard School of Dental Medicine
              </div>
              <p class="pl-8">Residency in Pediatric Dentistry</p>
            </li>
            <li>
              <div class="flex flex-row gap-2 font-semibold pl-8">
                Board Certification:<br /> American Board of Pediatric Dentistry
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="space-y-6 mt-24 w-[65ch] indent-6">
      <p class="body">
      Dr. George Chen, DMD, is a passionate pediatric dentist who believes that patient care should be centered around empathy, respect and fun! His professional interests include treating patients with dental anxieties and special health care needs, as well as discussing individualized strategies to prevent and fight cavities.
      </p>
      <p class="body">
      A California native, Dr George graduated from the University of California San Diego with a degree in Biochemistry and Cell Biology with latin honors. There, he developed a passion for teaching about oral health to underserved youth communities in homeless shelters and elementary schools, as well as volunteering for his university’s student-run dental clinic as a predoctoral dental assistant. He also taught as an upper division Teaching Assistant in molecular biology and nutrition courses while completing his honors thesis conducting research in bacterial genomics.
      <p class="body">
      Dr. George completed his dental education at the prestigious Harvard School of Dental Medicine. There, he and Dr. Chloe co-organized their annual “Give Kids a Smile Day” events for multiple years, providing free dental care for children in need. Outside of his clinical hours, he volunteered for several organizations providing oral health care and education to underserved youth groups. He was selected to receive the Abundance Foundation Agents of Change Challenge grant towards his work integrating oral health care into diabetic medical group visits in a community health center.
      </p>
      <p class="body">
      He then completed a two-year residency in pediatric dentistry at the Harvard School of Dental Medicine and Boston Children Hospital. There, he focused on caring for his patients with dental anxieties, special health care needs, and dental trauma. Continuing with his belief that oral health should be seen as an integral part of overall health, he led a research project integrating oral health screenings into primary care clinics at Boston Children’s Hospital. Dr. George has contributed to several publications in reputable journals and has presented at national conferences. Prior to opening Molar and Friends, Dr. George was an associate at an established private practice in Lancaster, Ohio where he further developed his skill set as a board-certified pediatric dentist.  
      </p>
      <p class="body">
      Outside of dentistry, Dr. George is a proud dad, which he feels is his greatest calling in life. He enjoys playing the electric guitar and ukulele, cooking for his family and neighbors, keeping current on cars and technology, and exploring the food scenes of cities he travels to.
      </p>
    </div>
  </section>
  <section class="flex flex-col items-center overflow-x-clip bg-blueberry pt-32 pb-[34rem] md:pb-48">
    <div
      id="chloe"
      class="flex flex-col-reverse md:flex-row gap-8 select-none text-nightsky w-[calc((6/7)*100%)] md:w-[calc((5/7)*100%)] max-w-[1024px] mx-auto"
    >
      <div id="card_chloe_stack" class="cursor-pointer relative w-full">
        <div
          id="card1_chloe_left"
          class="drop-shadow-md bg-sunshine absolute w-full rounded-lg bg-molar px-10 py-6"
        >
          <h2 class="text-4xl font-semibold pb-4">Fun Facts</h2>
          <ul class="space-y-4">
            <li><span class="text-cedar">✪</span> I was born and raised in New York City and New Jersey </li>
            <li><span class="text-cedar">✪</span> 
              My favorite childhood memory: Rollerblading around the streets of New York City with my family 
            </li>
            <li><span class="text-cedar">✪</span> 
              I memorized 200 digits of Pi in middle school for Pi Day
            </li>
            <li><span class="text-cedar">✪</span> 
              I enjoy growing indoor plants from plant cuttings
            </li>
          </ul>
        </div>
        <div
          id="card2_chloe_left"
          class="drop-shadow-md absolute w-full rounded-lg bg-molar px-10 py-6"
        >
          <h2 class="text-2xl md:text-4xl font-semibold pb-4">Dr. Chloe Wong</h2>
          <ul class="space-y-4">
            <li>
              <div class="flex flex-row gap-2 font-semibold">
                <img
                  src="/education_icon.png"
                  class="w-6 max-w-6 mix-blend-multiply object-contain pt-1 object-top"
                />
                Tufts University
              </div>
              <p class="pl-8">B.A. Child Development, B.A. Community Health</p>
            </li>
            <li>
              <div class="flex flex-row gap-2 font-semibold">
                <img
                  src="/education_icon.png"
                  class="w-6 max-w-6 mix-blend-multiply object-contain pt-1 object-top"
                />
                  Harvard School of Dental Medicine
              </div>
              <p class="pl-8">Doctor of Dental Medicine</p>
            </li>
            <li>
              <div class="flex flex-row gap-2 font-semibold">
                <img
                  src="/education_icon.png"
                  class="w-6 max-w-6 mix-blend-multiply object-contain pt-1 object-top"
                />
                Nationwide Children's Hospital, The Ohio State University
              </div>
              <p class="pl-8">Residency in Pediatric Dentistry, M.S</p>
            </li>
            <li>
              <div class="flex flex-row gap-2 font-semibold pl-8">
                Board Certification:<br /> American Board of Pediatric Dentistry
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div
        id="card_chloe_right"
        class="flex justify-center lg:justify-end items-center"
      >
        <img src="/chloe_headshot.png" class="w-full h-full object-cover rounded-lg" />
      </div>
    </div>
    <div class="space-y-6 mt-24 w-[65ch] indent-6">
      <p class="body">
      Dr. Chloe Wong, DMD, MS is an accomplished pediatric dentist with extensive education and experience in the field. Her professional interests include community outreach, helping families navigate the complexities of our healthcare system, and empowering her patients to achieve their oral health goals.
      </p>
      <p class="body">
       Dr. Chloe was born and raised in New York City and New Jersey. She graduated Summa Cum Laude from Tufts University with dual degrees in Community Health and Child Development. At Tufts, she developed her passion for working with children and discovered an interest in community and public health initiatives. She was a member of Jumpstart where she worked with preschoolers at Head Start programs to improve literacy and kindergarten readiness. She also interned with the Massachusetts Office of Oral Health and with Dr. Myron Allukian, a leader in public oral health and community water fluoridation initiatives.       </p>
      <p class="body">
      Prior to entering dental school at the Harvard School of Dental Medicine, Dr. Chloe served with AmeriCorps as a Community Health Worker at a health center in Boston's Chinatown. At Harvard, she co-organized Give Kids a Smile with Dr. George, served as a co-coordinator for ACTION- a student-led pediatric dental clinic, and volunteered with the Wampanoag Oral Health Outreach Group. She was also a Diversity and Inclusion Fellow, a member of the ADEA Academic Dental Careers Fellowship Program, and an Inaugural Scholar of Dental Education. She graduated Harvard in the top three of her class and received several prestigious awards, including induction into the Omicron Kappa Upsilon National Dental Honor Society, the International College of Dentists Student Humanitarian Award, and the National Health Service Corps Scholarship. 
      </p>
      <p class="body">
      Dr. Chloe earned her MS and Certificate in Pediatric Dentistry from The Ohio State University and Nationwide Children’s Hospital where she served as Chief Resident. She has contributed to several reputable publications and has presented at national conferences. Prior to joining Molar and Friends, Dr. Chloe served as the pediatric dentist and Dental Director at a community health center in Springfield, Ohio where she developed a dental program that provided care to a high-need population. She is also a part-time faculty member for the pediatric dental residency program at Nationwide Children’s Hospital. 
      </p>
      <p class="body">
      Despite her professional achievements, Dr. Chloe's proudest accomplishment is being a mom and an active member of her community. She enjoys spending quality time with her family and friends, exploring local cafes, and nurturing her indoor plants.
      </p>
    </div>
  </section>
  <section class="flex flex-col items-center overflow-x-clip bg-blueberry pt-0 pb-32">
    <button
      onClick="initFlexBook('https://flexbook.me/molarfrnds')"
      class="block bg-stoplight text-[#FFFFFF] font-bold w-fit h-fit px-10 py-3 rounded-full hover:bg-cedar">
    BOOK NOW
    </button>
  </section>
</Layout>

<script>
  import { animate, inView, press } from "motion";
  let george_card_state = "closed";
  let chloe_card_state = "closed";

  inView("#fairy_poster", (e) => {
    animate(
      "#fairy_poster",
      {
        rotate: -2,
        opacity: [0, 1],
        scale: [0.8, 1],
        y: ["-40%"],
        left: ["100%", "52%"],
      },
      { duration: 0.75 }
    );
    animate(
      "#lost_poster",
      {
        rotate: 5,
        opacity: [0, 1],
        scale: [0.8, 1],
        y: ["-50%"],
        right: ["100%", "52%"],
      },
      { duration: 0.75 }
    );
  });

  inView("#our_story", (e) => {
    animate(
      "#our_story_left",
      { opacity: [0, 1], scale: [0.8, 1], x: ["-100%", "0"] },
      { duration: 0.75 }
    );
    animate(
      "#our_story_right",
      { opacity: [0, 1], scale: [0.8, 1], x: ["-100%", "0"] },
      { duration: 0.75 }
    );
  });

  inView("#george", (e) => {
    animate(
      "#card_george_left",
      { opacity: [1], scale: [1], rotate: [-1], x: ["-100%", "0"] },
      { duration: 0.75 }
    );
    animate(
      "#card2_george_right",
      { opacity: [1], scale: [1], rotate: [-2], x: ["-100%", "0"] },
      { duration: 0.75 }
    );
    animate(
      "#card1_george_right",
      { opacity: [1], scale: [0.98], rotate: [3], x: ["100%", "0"] },
      { duration: 0.75 }
    );
  });

  inView("#chloe", (e) => {
    animate(
      "#card_chloe_right",
      { opacity: [1], scale: [1], rotate: [1], x: ["100%", "0"] },
      { duration: 0.75 }
    );
    animate(
      "#card2_chloe_left",
      { opacity: [1], scale: [1], rotate: [2], x: ["100%", "0"] },
      { duration: 0.75 }
    );
    animate(
      "#card1_chloe_left",
      { opacity: [1], scale: [0.98], rotate: [-3], x: ["-100%", "0"] },
      { duration: 0.75 }
    );
  });

  press("#card_george_stack", (e) => {
    if (george_card_state === "closed") {
      animate(
        "#card2_george_right",
        { scale: [1], x: [0, "120%"] },
        { duration: 0.75 }
      );
      animate("#card1_george_right", { scale: [0.98, 1] }, { duration: 0.75 });
      george_card_state = "open";
    } else {
      animate(
        "#card2_george_right",
        { scale: [1], x: ["120%", 0] },
        { duration: 0.75 }
      );
      animate("#card1_george_right", { scale: [1, 0.98] }, { duration: 0.75 });
      george_card_state = "closed";
    }
  });

  press("#card_chloe_stack", (e) => {
    if (chloe_card_state === "closed") {
      animate(
        "#card2_chloe_left",
        { scale: [1], x: [0, "-120%"] },
        { duration: 0.75 }
      );
      animate("#card1_chloe_left", { scale: [0.98, 1] }, { duration: 0.75 });
      chloe_card_state = "open";
    } else {
      animate(
        "#card2_chloe_left",
        { scale: [1], x: ["-120%", 0] },
        { duration: 0.75 }
      );
      animate("#card1_chloe_left", { scale: [1, 0.98] }, { duration: 0.75 });
      chloe_card_state = "closed";
    }
  });
</script>
