---
import Layout from "../layouts/Layout.astro";
---
<Layout bgColor="teal">
  <div class="w-full min-h-screen flex items-center justify-center">
    <main class="pt-32 h-full font-instrument w-[calc((6/7)*100%)] md:w-[calc((5/7)*100%)] max-w-[1024px] mx-auto text-center">
      <div class="space-y-12">
        <h1 class="font-bold text-4xl">Thank You!</h1>
        <p class="text-xl">Your information has been successfully submitted to our waitlist. <br/> We will contact you soon with further details.</p>
        <p class="text-lg"></p>
        <div class="pt-8">
          <a 
            href="/" 
            class="inline-block bg-stoplight text-molar py-2 px-6 rounded-md font-semibold text-xl hover:opacity-90 transition-opacity"
          >
            Return Home
          </a>
        </div>
      </div>
    </main>
  </div>
</Layout>
