---
import Layout from "../layouts/Layout.astro";
const { env } = Astro.locals.runtime;

if (Astro.request.method === "POST") {
	try {
		const data = await Astro.request.formData();

		// Extract form data
		const childName = data.get("name")?.toString() || "";
		const childAge = Number.parseInt(data.get("age")?.toString() || "0");
		const insurance = data.get("insurance")?.toString() || "";
		const parentName = data.get("parent name")?.toString() || "";
		const email = data.get("email")?.toString() || "";
		const message = data.get("message")?.toString() || "";
		const submissionDate = new Date().toISOString();

		// Insert data into the database
		await env.DB.prepare(
			`INSERT INTO waitlist (
        child_name,
        child_age,
        insurance,
        parent_name,
        email,
        message,
        submission_date
      ) VALUES (?, ?, ?, ?, ?, ?, ?)`,
		)
			.bind(
				childName,
				childAge,
				insurance,
				parentName,
				email,
				message,
				submissionDate,
			)
			.run();

		// Redirect to a success page or show success message
		return Astro.redirect("/success");
	} catch (error) {
		if (error instanceof Error) {
			console.error(error.message);
			// Handle error appropriately - maybe set an error message to display
		}
	}
}
---
<Layout bgColor="teal">
 <div class="w-full">
  <main class="pt-16 font-instrument w-[calc((6/7)*100%)] md:w-[calc((5/7)*100%)] max-w-[1024px] mx-auto">
    <h1 class="font-bold pb-4">Join Waitlist</h1>
    <form method="POST" class="grid grid-cols-[max-content_1fr] gap-x-8 gap-y-2">
      <label class="col-span-2 grid grid-cols-[subgrid] grid-gap-inherit">
        Child's Name
        <input class="pl-1 outline outline-[0px] outline-molar rounded-md bg-nightsky" type="text" name="name" required />
      </label>
      <label class="col-span-2 grid grid-cols-[subgrid] grid-gap-inherit">
        Child's Age
        <input class="pl-1 outline outline-[0px] outline-molar rounded-md bg-nightsky" type="number" name="age" required />
      </label>
      <label class="col-span-2 grid grid-cols-[subgrid] grid-gap-inherit">
        Child's Dental Insurance
        <input class="pl-1 outline outline-[0px] outline-molar rounded-md bg-nightsky" type="text" name="insurance" required />
      </label>
      <label class="col-span-2 grid grid-cols-[subgrid] grid-gap-inherit">
        Parent/ Guardian's Name
        <input class="pl-1 outline outline-[0px] outline-molar rounded-md bg-nightsky" type="text" name="parent name" required />
      </label>
      <label class="col-span-2 grid grid-cols-[subgrid] grid-gap-inherit">
        Email Address
        <input class="pl-1 outline outline-[0px] outline-molar rounded-md bg-nightsky" type="email" name="email" required />
      </label>
      <label class="col-span-2 grid grid-cols-[subgrid] grid-gap-inherit">
        Message
        <textarea class="pl-1 outline outline-[0px] outline-molar rounded-md bg-nightsky" type="text" name="message" />
      </label>
      <button class="w-fit bg-stoplight text-molar py-1 px-3 rounded-md font-semibold text-2xl">Submit</button>
    </form>
  </main>
 </div>
</Layout>
