---
import Layout from "../layouts/Layout.astro";
const { env } = Astro.locals.runtime;

if (Astro.request.method === "POST") {
	try {
		const data = await Astro.request.formData();

		// Extract form data
		const childName = data.get("name")?.toString() || "";
		const childAge = Number.parseInt(data.get("age")?.toString() || "0");
		const insurance = data.get("insurance")?.toString() || "";
		const parentName = data.get("parent name")?.toString() || "";
		const email = data.get("email")?.toString() || "";
		const phoneNumber = data.get("phone number")?.toString() || "";
		const message = data.get("message")?.toString() || "";
		const submissionDate = new Date().toISOString();

		// Insert data into the database
		await env.DB.prepare(
			`INSERT INTO waitlist (
        child_name,
        child_age,
        insurance,
        parent_name,
        email,
        phone_number,
        message,
        submission_date
      ) VALUES (?, ?, ?, ?, ?, ?, ?, ?)`,
		)
			.bind(
				childName,
				childAge,
				insurance,
				parentName,
				email,
				phoneNumber,
				message,
				submissionDate,
			)
			.run();

		// Redirect to a success page or show success message
		return Astro.redirect("/success");
	} catch (error) {
		if (error instanceof Error) {
			console.error(error.message);
			// Handle error appropriately - maybe set an error message to display
		}
	}
}
---
<Layout bgColor="">
 <div class="w-full">
  <main class="pt-16 font-instrument w-[calc((6/7)*100%)] md:w-[calc((5/7)*100%)] max-w-[1024px] mx-auto">
    <h1 class="text-nightsky font-bold text-2xl pb-4">Join Waitlist</h1>
    <form method="POST" class="text-nightsky grid grid-cols-1 gap-x-8 gap-y-3 pb-8">
      <input placeholder="Child's Name" class="pl-1 py-1 outline outline-[1px] outline-nightsky rounded-md bg-transparent" type="text" name="name" required />
      <input placeholder="Child's Age" class="pl-1 py-1 outline outline-[1px] outline-nightsky rounded-md bg-transparent" type="number" name="age" required />
      <input placeholder="Child's Dental Insurance" class="pl-1 py-1 outline outline-[1px] outline-nightsky rounded-md bg-transparent" type="text" name="insurance" required />
      <input placeholder="Parent / Guardian Name" class="pl-1 py-1 outline outline-[1px] outline-nightsky rounded-md bg-transparent" type="text" name="parent name" required />
      <input placeholder="Email Address" class="pl-1 py-1 outline outline-[1px] outline-nightsky rounded-md bg-transparent" type="email" name="email" required />
      <input placeholder="Phone Number" class="pl-1 py-1 outline outline-[1px] outline-nightsky rounded-md bg-transparent" type="phone" name="phone number" required />
      <textarea placeholder="Message (optional)" class="pl-1 py-1 outline outline-[1px] outline-nightsky rounded-md bg-transparent" type="text" name="message" />
      <button class="mt-1 w-fit bg-stoplight text-molar px-2 md:py-1 md:px-3 rounded-xl font-semibold text-lg md:text-2xl">Submit</button>
    </form>
  </main>
 </div>
</Layout>
