<button
  onClick="initFlexBook('https://flexbook.me/molarfrnds')"
  class="hidden xl:block justify-self-end self-center bg-teal text-[#FFFFFF] font-bold h-fit px-10 py-3 rounded-full hover:bg-nightsky transition-all duration-200">
BOOK NOW
</button>
