<button
  onClick="initFlexBook('https://flexbook.me/molarfrnds')"
  class="shadow-sm mb-36 self-center mt-16 block bg-stoplight text-[#FFFFFF] font-bold w-fit h-fit px-10 py-3 rounded-full hover:bg-cedar">
  BOOK NOW
</button>
