---
---
<section class="relative">
 <div class="absolute top-1/2 w-full">
  <div class="text-molar translate-y-[-40%] md:translate-y-[-50%] w-[calc((6/7)*100%)] md:w-[calc((5/7)*100%)] max-w-[1024px] mx-auto space-y-4 md:space-y-8">
   <h1 class="drop-shadow-sm heading-1 ">Lets grow healthy<br/>smiles together!</h1>
   <p class="drop-shadow-sm bg-black font-semibold max-w-xs md:max-w-2xl">    From our family to yours, Dr. George and Dr. Chloe are passionate about caring for your child's unique oral health needs.</p>
  </div>
 </div>
 <img class="h-[45vh] md:h-auto md:max-h-[50vh] w-full object-cover object-right" src="/Flower Hero.svg"/>
</section>
