---
---
<div class="bg-sunshine grid grid-cols-[3fr_2fr] max-h-[30rem] rounded-3xl relative">
 <div class="text-nightsky px-16 pt-14 space-y-4 justify-self-center">
  <h2 class="heading-2 break-keep whitespace-nowrap">Hello Friends</h2>
  <p>
   Join the thousands of families who've discovered why their children can't wait for their next dental visit. At Molar and Friends, we're creating the next generation of confident, healthy smiles. 
  </p>
 </div>
 <img class="justify-self-end max-h-[inherit] rounded-r-[inherit]" src="/family.png"/>
 <button class="bg-forest button-text rounded-lg absolute bottom-0 right-0 translate-y-[50%] translate-x-[25%] px-6 py-3">
  Meet Us
 </button>
</div>
