---
import "@fontsource-variable/andada-pro";
import "@fontsource/averia-serif-libre";
import "@fontsource-variable/open-sans";
import "@fontsource-variable/instrument-sans";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { bgColor = "#FFFFFF" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
		<meta charset="UTF-8" />
		<link rel="icon" href="/favicon.ico" sizes="32x32">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->
		<meta name="generator" content={Astro.generator} />
		<title>Molar and Friends</title>
		<style is:global>
			@font-face {
			  font-family: 'Quirky Spring';
			  src: url('/fonts/quirky-spring-regular.ttf') format('truetype');
			}
			@font-face {
			  font-family: 'Stonehill Regular';
			  src: url('/fonts/stonehill-regular.otf') format('opentype');
			}
			.font-quirky {
				font-family: 'Quirky Spring', sans-serif;
			}
			.font-stonehill {
				font-family: 'Stonehill Regular', sans-serif;
			}
 		</style>
	</head>
		<body class={`w-dvw min-h-dvh flex flex-col overflow-x-hidden text-molar font-instrument body bg-[#FFFFFF] bg-${bgColor} [transform:translateZ(0)]`}>
			<Header />
			<slot />
			<Footer />
		</body>
	</html>

